<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969548958622-1dmaabhhsat55kl07ddbuqdvbv30a51n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969548958622-1dmaabhhsat55kl07ddbuqdvbv30a51n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969548958622-91dr0ib4ice2adptrp0d92uj33bflun5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAP8Qakq0PbXBw9HGjIlYvwlTiI_NPltX8</string>
	<key>GCM_SENDER_ID</key>
	<string>969548958622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-41ac2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-41ac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969548958622:ios:4222904f9529db6f45a48f</string>
</dict>
</plist>